name: Trivy Scan

on:
  push:
    branches:
      - develop

jobs:
  trivy-scan:f
    uses: mnsltd/DEVOPS-githubworkflows/.github/workflows/trivy-java-ci.yml@develop
    with:
      java-version: '21'
      java-distribution: 'temurin'
      maven-command: 'mvn clean install'
      docker-build-command: 'docker build -t code:latest ./backend-app'
      maven-version: '3.6.3'
    secrets: inherit
